/*

**.zcomp*
**/.DS_Store

!.zprofile

!.ideavimrc

!.tmux/
.tmux/plugins/tpm
.tmux/resurrect/
!.tmux.conf

!.config/
.config/*
!.config/zsh
.config/zsh/.zshrc.zwc
!.config/htop
!.config/yabai
!.config/skhd
!.config/gotop

!.scripts/

!.gitignore

!.vimrc
!.zshrc
.vim/coc
.vim/.ccls-cache/*
.vim/plugged/*
.vim/autoload/*
.vim/.netrwhist
!.vim/undo-dir



