/*

**.zcomp*
**/.DS_Store

!.zprofile

!.ideavimrc

!.tmux/
.tmux/plugins/tpm
.tmux/resurrect/
!.tmux.conf

!.config/
.config/*
!.config/zsh
.config/zsh/.zshrc.zwc
.config/zsh/.zsh_sessions/
!.config/htop
!.config/yabai
!.config/spacebar
!.config/skhd
!.config/gotop
!.config/nvim
.config/nvim/coc-settings.json
!.config/ripgrep
!.config/bat
!.config/alacritty
!.config/.oh-my-zsh
.config/.oh-my-zsh/lib/unused

!.scripts/

!.gitignore

!.vimrc
!.zshrc
.vim/coc
.vim/.ccls-cache/*
.vim/plugged/*
.vim/autoload/*
.vim/.netrwhist
!.vim/undo-dir



