/*

**.zcomp*
**/.DS_Store

!.zprofile

!.tmux/
.tmux/plugins/tpm
!.tmux.conf

!.config/
.config/*
!.config/zsh
!.config/htop

!.gitignore

!.vimrc
!.zshrc
!.vim/
.vim/coc
.vim/.ccls-cache/*
.vim/plugged/*
.vim/autoload/*
.vim/.netrwhist


